.fullpage_banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10rem;
  color:white;

  section {
    text-align: center;
    flex-basis: auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  h3, h5 {
  }

  ul {
    list-style: none;
    padding:0;
  }
}

.banner {
  background-size: cover;
  background-position: center;
  height: 50vh;
  text-align: center;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;


  h1 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    position: relative;
  }

  #update_banner {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    position: absolute;
    right: 1rem;
    bottom: 19rem;
  }
}

@media (max-width: 576px) {
  .fullpage_banner {
    justify-content: center;
    padding-right: 0;
  }
}

@media (max-width: 758px) {
  .fullpage_banner {
    padding-right: 1.5rem;
  }
}

