.fullpage_banner {
  background-image: asset-url('img_cocktail.jpg'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10rem;

  section {
    text-align: center;
    flex-basis: auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  h3, h5 {
    color:white;
  }

  ul {
    color:white;
    list-style: none;
    padding:0;
  }
}

.banner {
  background-image: asset-url('whiskey_sour.jpg'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  background-position: center;
  height: 50vh;
  padding: 25vh;

  h1 {
    color:white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
  }
}

@media (max-width: 576px) {
  .fullpage_banner {
    justify-content: center;
    padding-right: 0;
  }
}

@media (max-width: 758px) {
  .fullpage_banner {
    padding-right: 1rem;
  }
}

